/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ea7b44;
    color: #fff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #ea7b44;
}

.about-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-subheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.about-subheading h3 {
    font-size: 2em; /* Ukuran besar untuk subjudul */
    color: #ea7b44;
    flex: 1;
    text-align: center;
}

.about-subheading p,
.about-subheading ul {
    font-size: 1.1em;
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;
}

.about-subheading ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ea7b44;
    color: #fff;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}
